* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Rubik;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  /* height: 90hv; */
}

body {
  color: white;
  background-color: rgb(154, 221, 243);
  /* width: 99vw; */
}

header,
section,
footer {
  padding: 2rem;
}

footer {
  background-image: url("../mPageBGbot.webp");
  background-size: 100%;
  background-position: bottom;
  text-align: center;
}

/* section {
  min-height: 50vh;
  scroll-margin-top: 5rem;
} */

/* HEADER */

header {
  /* background-color: darkcyan; */
  position: sticky;
  top: 0;
  height: min-content;
  background-image: url("../mPageBGbot.webp");
  background-position: bottom;
}

.headSkills {
  padding: 0;
  z-index: 100;
}
.navbar-brand {
  color: #f4c873;
  text-decoration: none;
  font-size: 3rem;
  /* margin-left: none; */
}

.icon-bar {
  border: 1px solid #f4c873;
}

.nav {
  font-size: 2rem;
}

.navbar {
  /* padding: 22px 0px; */
  /* background-color: aqua !important; */
  border-bottom: none !important;
}

.navbar ul li a {
  color: #f4c873 !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease-in;
}

.navbar ul li a:hover {
  color: orange !important;
  background-color: transparent;
  font-size: 2.2rem;
}

.bg {
  background-image: url("../mPageBGleft.webp");
  background-size: 280%;
}

/* HEADER ENDS*/

/* Buttons Top & HOME */

#backToTop,
#home {
  background-color: #f4c873;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  /* font-family: inherit; */
  cursor: pointer;
  color: white;
  display: none;
  font-size: 2rem;
}

#backToTop {
  right: 2rem;
}

#home {
  left: 2rem;
}

#backToTop .material-icons,
#home .material-icons {
  vertical-align: text-bottom;
  font-size: 2.8rem;
}

/* Buttons Top & HOME ENDS*/

/* Skills section & blocks */
/*-----------skills part---------*/
.skills-area {
  margin-top: 30px;
}
.skills-area p {
  margin-bottom: -5px;
}

.devicons {
  font-size: 3rem;
}
/* .fa {
  border-color: red;
  border-style: solid;
  height: 30px;
  width: 30px;
  font-size: 2.5rem;
} */

.skills-wrap {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  padding: 25px 35px;
  position: relative;
  transition: all 0.5s ease 0s;
  margin-top: 20px;
  z-index: 9;
}

.skills-wrap::before,
.skills-wrap::after {
  content: "";
  height: 300%;
  position: absolute;
  transform: rotate(45deg);
  width: 120%;
  z-index: -9;
  transition: all 0.5s;
  opacity: 0;
  background: #34495e;
}

.skills-wrap::before {
  top: -37px;
  left: 100%;
  color: orange;
}

.skills-wrap:hover:before {
  left: -27px;
  opacity: 1;
}
.skills-wrap::after {
  right: 100%;
  bottom: -37px;
}
.skills-wrap:hover:after {
  right: -27px;
  opacity: 1;
}

.skills-wrap:hover {
  color: #f4c873;
}
.skills-wrap h3,
.skills-wrap i {
  color: orange;
}

.skills-wrap:hover h3 {
  color: #f4c873;
}
.skills-wrap:hover h3:after {
  background-color: white;
}

.skills-icon i {
  font-size: 4rem;
  margin-bottom: 20px;
  transition: all 0.5s;
}

.skills-wrap:hover .skills-icon i {
  transform: rotate(360deg);
}

.skills-wrap:hover a {
  color: white;
}

.skills-wrap h3 {
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 15px;
  position: relative;
}
.skills-wrap p {
  font-size: 2rem;
  margin-bottom: 0;
}

.work {
  margin-top: 25px;
}
.row.no-gutters [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.img-wrapper {
  overflow: hidden;
}
.img-wrapper img {
  transition: transform 0.5s ease;
  width: 100%;
}
.img-wrapper img:hover {
  transform: scale(1.5);
  cursor: zoom-in;
}

/* .work img {
  width: 20vw;
  height: 20vh;
} */
.open-popup {
  padding: 20px;
  color: black;
}
.white-popup {
  position: relative;
  background: #fff;
  padding: 40px;
  width: auto;
  max-width: max-content;
  margin: 20px auto;
  text-align: center;
  color: red;
  font-size: 2rem;
}

.skills-tm {
  text-decoration: none;
  width: 2rem;
  height: 2rem;

  background-color: yellow;
  position: relative;
  left: 3px;
  border-radius: 5px;
}
.skills-ft {
  text-decoration: underline;
  color: cornflowerblue;
}
.skills-symfcert {
  text-decoration: underline;
  color: cornflowerblue;
}
.skills-ft:hover {
  text-decoration: underline;
  color: white;
}

/* gallery part*/

#work-photos,
#hobby-photos {
  width: 83vw;
  /* height: 88vh; */
  /* background-color: transparent; */

  /* border-color: red;
  border-style: solid;
  border-width: 1px; */
}

#work-photos img,
#hobby-photos img {
  width: 33rem;
  height: 28rem;
}

h4.photo_name {
  color: blue;
  font-size: medium;
  font-weight: bold;
}
h4.photo_place {
  color: blueviolet;
  font-size: medium;
  font-weight: bold;
}

.work_photo {
  margin-top: 50px;
}
.work_photo {
  margin-right: 125px;
}

.panel-title {
  color: red;
}
.panel-body {
  color: blue;
}

.about {
  height: 85vh;
}

#accordian .panel {
  box-shadow: none;
  /* border: none; */
  border-style: solid;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: rgb(154, 221, 243);
  border-color: white;
  border-right: 6px;
}

#accordian .panel-heading {
  padding: 1px;
  border: none;
  border-radius: 10px;
}

#accordian .panel-title a {
  display: block;
  padding: 25px 35px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background: #34495e;
  border: none;
  position: relative;
  transition: all 0.3s ease 0s;
}

#accordian .panel-title a:after,
#accordian .panel-title a.collapsed:after {
  content: "\f068";
  font-family: fontawesome;
  width: 40px;
  height: 40px;
  line-height: 32px;
  border-radius: 50%;
  background: #34495e;
  text-align: center;
  font-size: 15px;
  color: rgb(154, 221, 243);
  border: 5px solid rgb(154, 221, 243);
  position: absolute;
  top: 10px;
  left: -20px;
  transition: all 0.3s ease 0s;
}

#accordian .panel-title a.collapsed:after {
  content: "\f067";
}

#accordian .panel-title a:hover:after,
#accordian .panel-title a.collapsed:hover:after {
  transform: rotate(360deg);
}

#accordian .panel-body {
  padding: 15px 25px;
  background-color: #ebebeb;
  font-size: 2rem;
  color: #8c8c8c;
  line-height: 25px;
  border-top: none;
  position: relative;
}

.panel-heading a {
  text-decoration: none !important;
}

.freeimage img {
  height: auto;
  max-width: 18vw;
  max-height: 61vh;
}

.intro-text,
.sub-heading {
  display: block;
  padding: 25px 35px;
  font-size: 20px;
  font-weight: 600;
  color: white;
  /* background: #34495e; */
  border: none;
}

/* projects page */
.projects-wrap {
  display: inline-block;
  padding: 0.4rem;
  margin: 2rem;
}
.projects-active {
  display: flex;
  flex-direction: row;
}
.projects-wrap,
.projects-img {
  position: relative;
}
.projects-img:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  content: "";
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.5s;
}

.projects-wrap:hover .projects-img::before {
  opacity: 0.5;
  transform: scale(1);
  /* position: relative;
  top: 0; */
}
/* .projects-wrap, */

.projects-descript,
.projects-img img {
  width: 33rem;
  height: 28rem;
}
.projects-descript {
  height: 28rem;
}

.my-personal-projects {
  margin-top: 40px;
}

.projects-wrap {
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 1);
}

.date {
  background: #f4c873 none repeat scroll 0 0;
  height: 70px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  width: 70px;
  padding: 10px;
}

.projects-descript,
.sub-heading {
  font-size: 2rem;
}
.projects-descript a {
  background-color: #34495e;
  color: white;
  padding: 5px;
  transition: all 0.5s ease-in;
}
.projects-descript a:hover {
  font-size: 2rem;
  border: 1px solid #34495e;
  border-top-right-radius: 20px;
  background-color: transparent;
  color: #34495e;
  margin-top: 0;
  text-decoration: none;
}
.incardtext {
  color: orangered;
}
