* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Rubik;
}

html {
  scroll-behavior: smooth;
  width: 100vw;
  /* height: 90hv; */
}

body {
  color: white;
  background-color: rgb(154, 221, 243);
  /* width: 99vw; */
}

/* .logo {
  color: #f4c873;
  display: flex;
  font-size: 1.25rem;
  font-weight: bolder;
} */

header,
section,
footer {
  padding: 2rem;
}

.headSkills {
  padding: 0;
}

footer {
  background-image: url("mPageBGleft.webp");
  background-size: 100%;
}

section {
  min-height: 50vh;
  scroll-margin-top: 5rem;
}

/* HEADER */

header {
  /* background-color: darkcyan; */
  position: sticky;
  top: 0;
  height: min-content;
  background-image: url("mPageBGbot.webp");
  background-position: bottom;
}
.navbar-brand {
  color: #f4c873;
  text-decoration: none;
  font-size: 3rem;
  /* margin-left: none; */
}

.icon-bar {
  border: 1px solid #f4c873;
}

.nav {
  font-size: 2rem;
}

.navbar {
  padding: 22px 0px;
  /* background-color: aqua !important; */
  border-bottom: none !important;
}

.navbar ul li a {
  color: #f4c873 !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease-in;
}

.navbar ul li a:hover {
  color: orange !important;
  background-color: transparent;
  font-size: 2.2rem;
}

.bg {
  background-image: url("mPageBGleft.webp");
  background-size: 280%;
}

#backToTop,
#home {
  background-color: #f4c873;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  position: fixed;
  bottom: 2rem;
  /* font-family: inherit; */
  cursor: pointer;
  color: white;
  display: none;
  font-size: 2rem;
}

#backToTop {
  right: 2rem;
}

#home {
  left: 2rem;
}

#backToTop .material-icons,
#home .material-icons {
  vertical-align: text-bottom;
  font-size: 2.8rem;
}
