* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Rubik;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  size: 98vmax;
}

main {
  display: flex;
  -webkit-text-stroke: 0.25px black;
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

nav {
  display: inline-block;
  position: absolute;
  top: 5vh;
  right: 1vw;
  max-width: 60vw;
  text-align: right;
  margin-right: 1rem;
}

nav a:hover {
  /* font-size: 105%; */
  text-shadow: 1px 1px;
  color: white;
}

.logo {
  color: #f4c873;
  display: flex;
  position: absolute;
  top: 5vh;
  left: 7vw;
  max-width: 45vw;
  font-size: 1.25rem;
  font-weight: bolder;
}

ul li {
  display: inline-block;
  font-size: 2rem;
  margin-left: 2rem;
}

a {
  color: #f4c873;
  text-decoration: none;
}

.welText {
  position: absolute;
  width: 100%;
  top: 45%;
  font-family: Rubik;
  font-size: 4rem;
  font-weight: 550;
  color: #f4c873;
  justify-content: center;
  text-align: center;
}

.SP {
  position: relative;
  top: 85vh;
  right: 90vw;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 45px;
  text-transform: uppercase;
  color: transparent;
  text-decoration-line: none;
}

.div1,
.div2,
.div3,
.div4 {
  position: absolute;
}

.div1 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGtop.webp");
  clip-path: polygon(100vw 0, 50% 50%, 0 0);
  /* clip-path: polygon(100vw 0, 50% 50vh, 0 0); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div2 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGright.webp");
  clip-path: polygon(100vw 0, 50% 50%, 100% 100%);
  /* clip-path: polygon(100vw 0, 50vw 50vh, 100vw 100vh); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div3 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGbot.webp");
  /* clip-path: polygon(50vw 50vh, 100vw 100vh, 0 100vh); */
  clip-path: polygon(50% 50%, 100% 100%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div4 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGleft.webp");
  /* clip-path: polygon(0 0, 50vw 50vh, 0 100vh); */
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.HP {
  position: fixed;
  bottom: 5vh;
  left: 2vw;
  font-weight: 900;
  letter-spacing: 2px;
  font-size: 1rem;
  text-transform: uppercase;
  color: grey;
  text-decoration-line: none;
}

/* .prF {
  background-image: url("projects.png");
  background-color: black;
  position: absolute;
  top: 10px;
  left: 10px;
  color: aquamarine;
} */

/* .headSkills,
.nav_menu {
  position: fixed;
}

section {
  min-height: 50vh;
  scroll-margin-top: 5rem;
} */
