/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, Rubik;
} */
.div1,
.div2,
.div3,
.div4 {
  position: absolute;
}

.div1 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGtop.webp");
  clip-path: polygon(100vw 0, 50% 50%, 0 0);
  /* clip-path: polygon(100vw 0, 50% 50vh, 0 0); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div2 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGright.webp");
  clip-path: polygon(100vw 0, 50% 50%, 100% 100%);
  /* clip-path: polygon(100vw 0, 50vw 50vh, 100vw 100vh); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div3 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGbot.webp");
  /* clip-path: polygon(50vw 50vh, 100vw 100vh, 0 100vh); */
  clip-path: polygon(50% 50%, 100% 100%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.div4 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGleft.webp");
  /* clip-path: polygon(0 0, 50vw 50vh, 0 100vh); */
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

a {
  color: #f4c873;
  text-decoration: none;
}

/* .icon-bar {
  color: red;
} */

/* .navbar-toggle, */
.icon-bar {
  border: 1px solid #f4c873;
}

.nav,
.navbar-brand {
  font-size: 2.5rem;
}
