* {
  padding: 0;
  margin: 0;
  /* box-sizing: border-box; */
  font-family: Roboto, Rubik;
}
.div1,
.div2,
.div3,
.div4 {
  position: absolute;
}

.div1 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGtop.webp");
  clip-path: polygon(100vw 0, 50% 50%, 0 0);
  /* clip-path: polygon(100vw 0, 50% 50vh, 0 0); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.div2 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGright.webp");
  clip-path: polygon(100vw 0, 50% 50%, 100% 100%);
  /* clip-path: polygon(100vw 0, 50vw 50vh, 100vw 100vh); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.div3 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGbot.webp");
  /* clip-path: polygon(50vw 50vh, 100vw 100vh, 0 100vh); */
  clip-path: polygon(50% 50%, 100% 100%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.div4 {
  width: 100vw;
  height: 100vh;
  background-image: url("mPageBGleft.webp");
  /* clip-path: polygon(0 0, 50vw 50vh, 0 100vh); */
  clip-path: polygon(0 0, 50% 50%, 0 100%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -100;
}

.navbar-brand {
  color: #f4c873;
  text-decoration: none;
  font-size: 3rem;
  /* margin-left: none; */
}

/* .icon-bar {
  color: red;
} */

/* .navbar-toggle, */
.icon-bar {
  border: 1px solid #f4c873;
}

.nav {
  font-size: 2rem;
}

.navbar {
  padding: 22px 0px;
  /* background-color: aqua !important; */
  border-bottom: none !important;
}

.navbar ul li a {
  color: #f4c873 !important;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  transition: all 0.5s ease-in;
}

.navbar ul li a:hover {
  color: orange !important;
  background-color: transparent;
  font-size: 2.2rem;
}

.container {
  margin-left: 15px;
  margin-right: 15px;
  width: auto;
}

.slider {
  color: #f4c873;
  font-size: 5rem;
  position: absolute;
  top: 45vh;
  left: 30vw;
}

.slider .welText,
.slider .typed-cursor {
  display: inline;
  font-size: 4rem;
  text-transform: uppercase;
}

.primary {
  color: orange;
}
.typed-cursor {
  opacity: 1;
  animation: blink 0.7s infinite;
  color: white;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
} ;
